<footer>
  <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }} </span>
  </a>
  <br/>

<div class="social-icons">
    <a href="{{ site.linkedin }}"><img src="/icons/linkedin-icon.png" alt="LinkedIn" width="50" height="50"></a>
    <a href="{{ site.github }}"><img src="/icons/github-icon.png" alt="GitHub" width="50" height="50"></a>
    <a href="{{ site.tryhackme }}"><img src="/icons/tryhackme-icon.png" alt="TryHackMe" width="50" height="50"></a>
    <a href="mailto:{{ site.author.email }}"><img src="/icons/email-icon.png" alt="Email" width="50" height="50"></a>
</div>

</footer>